<!DOCTYPE HTML>
<html>
<head>
<title>Twitch Bingo</title>
<style>
td {
	width: 7em;
	height: 7em;
	text-align: center;
}
td.marked {
	background: #a0f0c0;
}
</style>
</head>
<body>
<h1>Twitch Bingo</h1>
<p>
Spot things as they happen during a <a href="https://twitch.tv/devicat">DeviCat live stream</a> and see if you can claim
an entire row or column in a single stream!
</p>
<table border>
{% for row in range(5) %}<tr>{% for cell in range(5) %}{% set c = cards[row*5+cell] %}
{% if c[0] %}
<td data-id={{c[0]}}>{{c[1]|safe}}</td>
{% else %}
<td data-id={{c[0]}} data-freebie=1><b>FREE</b><br>{{c[1]|safe}}<br><b>FREE</b></td>
{% endif %}
{% endfor %}</tr>{% endfor %}
</table>

<p><small>Just for fun.</small></p>
<script>
/* Plans:
1) Make the cells clickable to mark them off (and start with the free square marked)
2) Network the cards, so you type in your name and see the same card
2a) Have the card live-update if you have it open in two places
2b) Have a hot-link to view only, eg "#yourname", for stream
3) Generate cards from any arbitrary set of tiles - allow multiple cardsets
4) Give each cell an ID such that the positions can be randomized. Free square stays put.
*/
function cell_clicked(ev) {
	console.log(this.dataset.id);
	if (this.dataset.freebie) return; //Can't unmark the freebie
	this.classList.toggle("marked");
}

let nextid = 0;
document.querySelectorAll("td").forEach(el => {
	el.onclick = cell_clicked;
	if (el.dataset.freebie) el.classList.add("marked");
});
</script>
</body>
</html>
