<!DOCTYPE HTML>
<html lang=en>
<head>
<title>{{displayname}} Bingo</title>
<style>
/* Want a clean view? Add CSS overrides:
section, footer, aside {display: none;}
*/
table, th, td {border: 1px solid black;}
td {
	width: 7em;
	height: 7em;
	text-align: center;
}
td.marked {
	background: #a0f0c0;
}
td p {margin: 0;}
footer {margin-top: 1.5em; font-size: 75%;}
h1 {font-size: 2em;}
</style>
</head>
<body>
<section>
<h1>{{displayname}} Bingo</h1>
<p>
Spot things as they happen during a <a href="https://twitch.tv/{{channel}}">{{displayname}} live stream</a> and see if you can claim
an entire row or column in a single stream!
</p>
{% if user == "null" %}
<form><p>
Want to be on the leaderboard? <label>Enter your name here: <input name=user></label>
<input type=submit value="Do it!">
</p></form>
{% endif %}
</section>
<aside id=leaderboard></aside>
<main>
<table>
{% for row in range(5) %}<tr>{% for cell in range(5) %}{% set c = cards[row*5+cell] %}
{% if c[0] %}
<td data-id={{c[0]}}>{{c[1]|markdown}}</td>
{% else %}
<td data-id={{c[0]}} data-freebie=1><b>FREE</b>{{c[1]|markdown}}<b>FREE</b></td>
{% endif %}
{% endfor %}</tr>{% endfor %}
</table>
</main>
<footer>Just for fun. Created by Chris Angelico aka <a href="https://github.com/Rosuav">Rosuav</a>.</footer>
<script>
const cells_by_id = {};
const user = {{user|safe}};
const protocol = window.location.protocol == "https:" ? "wss://" : "ws://";
const socket = new WebSocket(protocol + window.location.host + "/bingo-live");
function socksend(data) {socket.send(JSON.stringify(data));}
socket.onopen = () => {console.log("Socket connection established."); socksend({type: "init", channel: "{{channel}}", user});};
socket.onmessage = (ev) => {
	let msg; try {msg = JSON.parse(ev.data);} catch (e) {}
	if (!msg || !msg.type) return;
	switch (msg.type) {
		case "refresh": window.location.reload(); break;
		case "reset": {
			msg.marked.forEach((status, idx) => cells_by_id[idx].classList.toggle("marked", status));
			//Fall through to scores handler
		}
		case "scores": {
			const seen = {};
			const lines = [];
			for (let score = 5; score >= 1; --score) {
				for (let name of msg.scores[score-1]) {
					if (seen[name]) continue;
					seen[name] = 1;
					if (name === user) lines.push(`<b>[${score}] ${name}<\/b>`);
					else if (lines.length < 10) lines.push(`[${score}] ${name}`);
					//Once we have ten lines, the only one we'll add is the user's own.
				}
				if (lines.length >= 10 && seen[user]) break;
			}
			document.getElementById("leaderboard").innerHTML = "<ul><li>" + lines.join("</li><li>") + "</li></ul>";
			break;
		}
		case "mark": cells_by_id[msg.id].classList.toggle("marked", msg.status); break;
		default: console.log("Received message:", ev.data);
	}
};

function cell_clicked(ev) {
	if (this.dataset.freebie) return; //Can't unmark the freebie (shouldn't get the event bound anyhow)
	const status = this.classList.toggle("marked");
	if (user) socksend({type: "mark", id: parseInt(this.dataset.id, 10), status});
}

document.querySelectorAll("td").forEach(el => {
	if (el.dataset.freebie) el.classList.add("marked");
	else el.onclick = cell_clicked;
	cells_by_id[el.dataset.id] = el;
});
</script>
</body>
</html>
