<!DOCTYPE HTML>
<html>
<head>
<title>{{displayname}} Bingo</title>
<style>
table, th, td {border: 1px solid black;}
td {
	width: 7em;
	height: 7em;
	text-align: center;
}
td.marked {
	background: #a0f0c0;
}
td p {margin: 0;}
</style>
</head>
<body>
<h1>{{displayname}} Bingo</h1>
<p>
Spot things as they happen during a <a href="https://twitch.tv/{{channel}}">{{displayname}} live stream</a> and see if you can claim
an entire row or column in a single stream!
</p>
{% if include_login %}
<p><form>
Want to be on the leaderboard? <label>Enter your name here: <input name=user></label>
<input type=submit value="Do it!">
</form></p>
{% endif %}
<table>
{% for row in range(5) %}<tr>{% for cell in range(5) %}{% set c = cards[row*5+cell] %}
{% if c[0] %}
<td data-id={{c[0]}}>{{c[1]|markdown}}</td>
{% else %}
<td data-id={{c[0]}} data-freebie=1><b>FREE</b>{{c[1]|markdown}}<b>FREE</b></td>
{% endif %}
{% endfor %}</tr>{% endfor %}
</table>

<p><small>Just for fun.</small></p>
<script>
function cell_clicked(ev) {
	console.log(this.dataset.id);
	if (this.dataset.freebie) return; //Can't unmark the freebie
	this.classList.toggle("marked");
}

let nextid = 0;
document.querySelectorAll("td").forEach(el => {
	el.onclick = cell_clicked;
	if (el.dataset.freebie) el.classList.add("marked");
});
</script>
</body>
</html>
