<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<title>G&amp;S Society Committee info</title>
</head>
<body>
<p>This information is private to members of the G&amp;S Society committee.
Please treat it with the care appropriate to this.</p>
<p>The Google Drive account password is: <code>{{ passwd }}</code></p>
<p>Your access to the membership database is based on this code: <a href="/memb/{{ hash }}">{{ hash }}</a></p>
<p>Communicate with the committee by sending email to committee@gilbertandsullivan.org.au,
preferably as plain text and without attachments.</p>
</body>
</html>
