<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<title>G&amp;S Society Committee info</title>
</head>
<body>
<p>The information in this document repository is private to members of
the G&amp;S Society committee. Please treat it with appropriate care.</p>
<p>The Google Drive account name is: documents@gilbertandsullivan.org.au</p>
<p>Your password is: <code>{{ passwd }}</code></p>
<p>Your access to the membership database is based on this code (click
the link to gain access): <a href="/memb/{{ hash }}">{{ hash }}</a></p>
<p>In future, to speed up communications with the committee, send emails
to committee@gilbertandsullivan.org.au, preferably as plain text and
without attachments.</p>
</body>
</html>
